{% extends "base.html" %}
{% block title %} Favorite Recipes {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/index.css" %}">
{% endblock %}

{% block content %}
{% include "nav.html" with active_page="favorites"%}
{% load recipe_filters %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">My Favorite Recipes</h1>
            {% include "recipe/page_types.html" with url_name="favorite_recipes" %}
        </div>
        <div class="card-list" >
            {% for recipe in page %}
                <div class="card" data-id="{{ recipe.id }}">
                    {% include "recipe/recipeItem.html" %}
                </div>
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator url_que=url_type_line %}
        {% endif %}
    </main>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static "js/components/MainCards.js" %}"></script>

    <script src="{% static "js/components/Purchases.js" %}"></script>
    <script src="{% static "js/components/Favorites.js" %}"></script>

    <script src="{% static "js/config/config.js" %}"></script>
    <script src="{% static "js/components/CardList.js" %}"></script>
    <script src="{% static "js/components/Header.js" %}"></script>

    <script src="{% static "js/api/Api.js" %}"></script>
    <script src="{% static "js/favorite.js" %}"></script>
{% endblock js %}
