{% extends "base.html" %}
{% block title %} Favorite Recipes {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/index.css" %}">
{% endblock %}

{% block content %}
{% include "nav.html" %}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">My Favorite Recipes</h1>
                {% include "recipe/page_types.html" %}
        </div>
        <div class="card-list" >
            {% for recipe in page %}
                <div class="card" data-id="{{ recipe.id }}">
                    {% include "recipe/recipeItem.html" %}
                    <div class="card__footer">
                        <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Add to My Shopping List</button>
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </main>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static "js/components/MainCards.js" %}"></script>

    <script src="{% static "js/components/Purchases.js" %}"></script>
    <script src="{% static "js/components/Favorites.js" %}"></script>

    <script src="{% static "js/config/config.js" %}"></script>
    <script src="{% static "js/components/CardList.js" %}"></script>
    <script src="{% static "js/components/Header.js" %}"></script>

    <script src="{% static "js/api/Api.js" %}"></script>
    <script src="{% static "js/favorite.js" %}"></script>
{% endblock js %}
