{% load recipe_filters %}
<ul class="tags">
    {% for type in types %}
    <li class="tags__item">
        <a  id="{{ type.type_name }}"
            class="tags__checkbox tags__checkbox_style_{{ type.color }}
                {% if type.id|string_view in given_types %}tags__checkbox_active{% endif %}"
            href="?type={% if type.id|string_view in given_types %}
{% with id=type.id|string_view %}
{{ url_type_line|cut:id }}
{% endwith %}
{% else %}
{% with id=type.id|string_view %}
{{ url_type_line|add_id:id }}
{% endwith %}{% endif %}">
        </a>
        <span class="tags__label">{{ type.type_name|capfirst }} </span>
    </li>
    {% endfor %}
</ul>

