{% load recipe_filters %}
<ul class="tags">
    {% for type in types %}
    <li class="tags__item">
        <a  id="{{ type.type_name }}"
            class="tags__checkbox tags__checkbox_style_{{ type.color }}
                {% if not type.type_name in given_types %}tags__checkbox_active{% endif %}"
            href="?{% if type.type_name in given_types %}
{% with url_type=type.type_name|get_type_url %}
{{ url_type_line|cut:url_type }}
{% endwith %}
{% else %}
{{ url_type_line|add_type_to_url:type.type_name }}{% endif %}">
        </a>
        <span class="tags__label">{{ type.type_name|capfirst }} </span>
    </li>
    {% endfor %}
</ul>