{% extends "base.html" %}
{% block title %} {{ recipe.name }} {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static 'pages/single.css' %}">
{% endblock %}

{% block content %}
{% include "nav.html" %}
<main class="main container">
{% csrf_token %}
    {% load recipe_filters user_filters %}
    <div class="single-card" data-id="{{ recipe.id }}" data-author="{{ author.id }}">
        {% load thumbnail %}
        {% if not recipe.picture %}
            <img src="/static/images/NoImage.jpg" alt="{{ recipe.name }}" class="single-card__image"></a>
        {% else %}
            {% thumbnail recipe.picture "480x480" crop="center" upscale=True as im %}
                <img class="single-card__image" src="{{ im.url }}" alt="{{ recipe.name }}" width="480" height="480">
            {% endthumbnail %}
        {% endif %}
        <div class="single-card__info">
            {% if user.is_authenticated %}
                <div class="single-card__header-info">
                    <h1 class="single-card__title">{{ recipe.name }}</h1>
                    <div class="single-card__favorite">

                    {% if user|is_favorite:recipe %}
                        <button class="button button_style_none" name="favorites"><span class="icon-favorite icon-favorite_big icon-favorite_active"></span></button>
                    {% else %}
                        <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite icon-favorite_big"></span></button>
                    {% endif %}

                    </div>
                </div>
            {% endif %}
            <ul class="single-card__items">
            {% for type in recipe.type.all %}
                <li class="single-card__item"><span class="badge badge_style_{{ type.color }}">{{ type.type_name|capfirst}}</span></li>
            {% endfor %}
            </ul>
            <div class="single-card__items single-card__items_column">
                <p class="single-card__text"><span class="icon-time"></span> {{ recipe.cook_time|duration_format }}</p>
                <ul class="single-card__items">
                    <li class="single-card__item"><p class="single-card__text"><span class="icon-user"></span> <a style="color: black" href="{% url "user_profile" author.username %}" target="_self">{{ author|author_name }}</a></p></li>
                    {% if user == author %}
                        <li class="single-card__item">  <a style="margin-left: 2.5em" href="{% url "edit_recipe" recipe.author.username recipe.slug  %}" class="single-card__text">Edit recipe</a></li>
                    {% endif %}
                </ul>
            </div>
            <ul class="single-card__items">
                <li class="single-card__item">
                    {% if user|is_in_shopping:recipe %}
                        <button class="button button_style_light-blue-outline" name="purchases"><span class="icon-check button__icon"></span> Recipe added</button>
                    {% else %}
                        <button class="button button_style_blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Add to my shopping list</button>
                    {% endif %}
                </li>
                <li class="single-card__item">
                    {% if user.is_authenticated and user != author %}
                        {% if author|check_following:user %}
                            <button class="button button_style_light-blue button_size_subscribe" name="subscribe">Unfollow</button>
                        {% else %}
                           <button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Follow</button>
                        {% endif %}
                    {% endif %}
                </li>
            </ul>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">Ingredients:</h3>
                    <div class="single-card__items single-card__items_column">
                        {% for ingredient in recipe.recipe_ingredient.all %}
                        <p class=" single-card__section-item">{{ ingredient.ingredient.name|truncatechars:20 }} - {{ ingredient.weight }} {{ ingredient.ingredient.measure }}.</p>
                        {% endfor %}
                    </div>
                </div>
            <div class="single-card__section">
                <h3 class="single-card__section-title">Directions:</h3>
                <p class=" single-card__section-text">{{ recipe.directions|linebreaksbr }}</p>
            </div>
        </div>
    </div>
</main>

{% endblock content %}

{% block js %}
    {% load static %}
        <script src="/static/js/config/config.js"></script>
        <script src="{% static "/js/config/config.js" %}"></script>
        <script src="{% static "js/components/MainCards.js" %}"></script>
        <script src="{% static "js/components/Subscribe.js" %}"></script>

        <script src="{% static "js/components/Purchases.js" %}"></script>
        <script src="{% static "js/components/Favorites.js" %}"></script>

        <script src="{% static "js/components/Header.js" %}"></script>

        <script src="{% static "js/api/Api.js" %}"></script>
        <script src="{% static "js/components/SingleCard.js" %}"></script>


        {% if user.is_authenticated %}
            <script src="{% static "js/singlePage.js" %}"></script>
            <script src="{% static "js/indexAuth.js" %}"></script>
        {% else %}
            <script src="{% static "js/singlePageNotAuth.js" %}"></script>
            <script src="{% static "js/indexNotAuth.js" %}"></script>
        {% endif %}

{% endblock js %}