{% extends "base.html" %}
{% block title %} Delete recipe {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/index.css"  %}">
    <link rel="stylesheet" href="{% static "/pages/form.css"  %}">
    <link rel="stylesheet" href="{% static "/pages/single.css"  %}">

{% endblock %}
{% block content %}
{% include "nav.html" %}
    <main class="main container">

    {% load user_filters recipe_filters %}
        <div class="main__header">
            <h1 class="main__title">Delete Recipe</h1>
        </div>
        <div class="form-container">
            <form class="form" method="post" action="{% url "delete_recipe" author recipe.slug %}">
                {% csrf_token %}

                <p class="form__info-text">
                    Are you sure you want to delete this recipe?
                </p>
                <div class="card__body">
                    <h1 class="card__item">{{ recipe.name }}</h1>
                </div>


               <div class="form__footer">
                   <button class="button button_style_blue">Delete recipe</button>
               </div>
            </form>
        </div>
    </main>
{% endblock content %}