{# TODO make download a shopping list#}
{% extends "base.html" %}
{% block title %} Recipes {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/shopList.css" %}">
{% endblock %}

{% block content %}
{% include "nav.html" with active_page="shopping_list" %}
{% load recipe_filters %}
{% csrf_token %}
<main class="main container">
    <div class="main__header">
        <h1 class="main__title">My shopping list</h1>
{#    <a href="#"><button class="button button_style_blue">Download whole shopping list</button></a>#}
    </div>
    <div class="card-list card-list_column">
        <ul class="shopping-list">
            {% for list in shopping_list %}
                <li class="shopping-list__item" data-id="{{ list.recipe.id }}">
                    <div class="recipe recipe_reverse">
                        {% load thumbnail %}
                        {% if not list.recipe.picture %}
                            <img src="/static/images/NoImage.jpg" alt="{{ list.recipe.name }}" class="recipe__image recipe__image_big"></a>
                        {% else %}
                            {% thumbnail list.recipe.picture "364x240" crop="center" upscale=True as im %}
                                <img src="{{ im.url }}" alt="{{ list.recipe.name }}" class="recipe__image recipe__image_big" width="364" height="240"></a>
                            {% endthumbnail %}
                        {% endif %}
                        <h3 class="recipe__title">{{ list.recipe.name }}</h3>
                        <p class="recipe__text"><span class="icon-time"></span> {{ list.recipe.cook_time|duration_format }}</p>
                    </div>
                    <button class="button shopping-list__button link">Remove</button>
                </li>
            {% empty %}
                <h3 class="text-center">Your shopping list has no recipes yet</h3>
            {% endfor %}
        </ul>
        {% if shopping_list %}
            <a href="{% url "dowload_shopping_list" %}" ><button type="button" id="download-btn" class="button button_style_blue">Download a grocery list</button></a>
        {% endif %}

    </div>
</main>
{% endblock content %}

{% block js %}
    {% load static %}
    <script src="{% static "js/config/config.js" %}"></script>
    <script src="{% static "js/components/Header.js" %}"></script>

    <script src="{% static "js/api/Api.js" %}"></script>
    <script src="{% static "js/components/ShopList.js" %}"></script>
    <script src="{% static "js/shopList.js" %}"></script>


{% endblock js %}
