{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block content %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/form.css" %}">
{% endblock %}
{% load user_filters %}


    <form class="form" method="post">
        {% csrf_token %}

        <p class="form__info-text">Enter the email you used to sign up and we will send you a link to reset it.</p>
        {% for field in form %}
            <div class="form__group">
                <label  for="{{ field.id_for_label }}" class="form__label"> {{ field.label }} </label>
                <div class="form__field-group">

                    {{ field|addclass:"form__input" }}

                    {% if field.help_text %}
                        <div class="form__field-group">
                            <span class="form__input-info">
                                {{ field.help_text|safe }}
                            </span>
                        </div>
                    {% endif %}

                </div>
            </div>
        {% endfor %}

        <div class="form__footer">
            <button class="button button_style_blue" type="submit">Reset password</button>
        </div>

    </form>

{% endblock %}
