{% extends "base.html" %}
{% block title %} Error 500 {% endblock %}
{% block content %}

    <main role="main" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Error 500</h1>
                <p class="lead">Oops, something went wrong. Please try again later.</p>
                {% if user.is_authenticated %}
                    <p class="lead"><a href="{% url "indexAuth" %}">Back to the homepage</a></p>
                {% else %}
                    <p class="lead"><a href="{% url "indexNotAuth" %}">Back to the homepage</a></p>
                {% endif %}
            </div>
        </div>
    </main>

{% endblock %}