{% extends "base.html" %}
{% block title %} Recipes by {{ author.username }}{% endblock %}
{% block static %}
    <link rel="stylesheet" href="../static/pages/index.css">
{% endblock %}
{% block content %}
    <div class="main__header">
        <h1 class="main__title">{{ author.username }}</h1>
        {% include "recipe/page_types.html" %}

    </div>
<!--        <p style="padding: 0 0 2em 0;"><a class="button button_style_light-blue" href="#">Подписаться на автора</a></p>-->
    <div class="author-subscribe" data-author="323">
        <p style="padding: 0 0 2em 0;"><button class="button button_style_light-blue button_size_subscribe" name="subscribe" data-out>Follow</button></p>
    </div>
    <div class="card-list" >
        {% for recipe in page %}
            <div class="card" data-id="{{ recipe.id }}">
                {% include "recipe/recipeItem.html" %}
                <div class="card__footer">
                    <button class="button button_style_light-blue" name="purchases" data-out><span class="icon-plus button__icon"></span>Add to My Shopping List</button>
                    <button class="button button_style_none" name="favorites" data-out><span class="icon-favorite"></span></button>
                </div>
            </div>
        {% endfor %}
    </div>
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}

{% endblock content %}
