{% extends "base.html" %}
{% block title %} Friends {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/myFollow.css" %}">
{% endblock %}

{% block content %}
    {% load recipe_filters user_filters %}
    {% include "nav.html" with active_page="friends"%}
    <main class="main container">
        <div class="main__header">
            <h1 class="main__title">My friends</h1>
        </div>
        <div class="card-list">
            {% for item in page %}
                <div class="card-user" data-author="{{ item.author.id }}">
                    <div class="card-user__header">
                        <h2 class="card-user__title"><a class="card__title link" style="color: black" href="{% url "user_profile" item.author.username %}" target="_self">{{ item.author|author_name }} </a></h2>
                    </div>
                    <div class="card-user__body">
                        <ul class="card-user__items">
                            {% for recipe in item.author.recipes.all|slice:":3" %}
                                <li class="card-user__item">
                                    <div class="recipe">
                                        {% load thumbnail %}
                                        {% if not recipe.picture %}
                                            <img src="/static/images/NoImage.jpg" alt="{{ recipe.name }}" class="recipe__image"></a>
                                        {% else %}
                                            {% thumbnail recipe.picture "72x72" crop="center" upscale=True as im %}
                                                <img class="recipe__image" src="{{ im.url }}" alt="{{ recipe.name }}" width="72" height="72">
                                            {% endthumbnail %}
                                        {% endif %}
                                        <h3 class="recipe__title" data-id="{{ recipe.id }}"><a class="recipe__title link" style="color: black" href="{% url "recipe" item.author.username recipe.slug %}" target="_self">{{ recipe.name }}</a></h3>
                                        <p class="recipe__text"><span class="icon-time"></span> {{ recipe.cook_time|duration_format }}</p>
                                    </div>
                                </li>
                            {% endfor %}
                            <li class="card-user__item">
                                {% if item.author.recipes.count > 3 %}
                                    <a href="{% url "user_profile"  item.author.username %}" class="card-user__link link">Find {{ item.author.recipes.count|subtract:3 }} more...</a>
                                {% endif %}

                            </li>
                        </ul>
                    </div>

                    <div class="card-user__footer">
                        <button class="button button_style_light-blue button_size_auto" name="subscribe">Unfollow</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if page.has_other_pages %}
            {% include "paginator.html" with items=page paginator=paginator %}
        {% endif %}
    </main>

{% endblock content %}
{% block js %}
    {% load static %}
        <script src="{% static "js/config/config.js" %}"></script>
        <script src="{% static "js/components/MainCards.js" %}"></script>
        <script src="{% static "js/components/MyFollow.js" %}"></script>
        <script src="{% static "js/components/Subscribe.js" %}"></script>


        <script src="{% static "js/components/Header.js" %}"></script>
        <script src="{% static "js/api/Api.js" %}"></script>
        <script src="{% static "js/myFollow.js" %}"></script>


        {% if user.is_authenticated %}
            <script src="{% static "js/singlePage.js" %}"></script>
            <script src="{% static "js/indexAuth.js" %}"></script>
        {% else %}
            <script src="{% static "jssinglePageNotAuth.js" %}"></script>
            <script src="{% static "js/indexNotAuth.js" %}"></script>
        {% endif %}

{% endblock js %}