{% extends "base.html" %}
{% block title %} Recipes {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/index.css" %}">
{% endblock %}

{% block content %}

    <div class="main__header">
        <h1 class="main__title">Recipes</h1>
    {% include "recipe/page_types.html" %}
    </div>
    <div class="card-list">
        {% for recipe in page %}
            {% for type in recipe.recipe_types.all %}
                <h1 class="main__title">{{ type }}</h1>
            {% endfor %}
            <div class="card" data-id="{{ recipe.id }}">
                {% include "recipe/recipeItem.html" %}
            </div>
        {% endfor %}
    </div>

    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator %}
    {% endif %}


{% endblock content %}
