{% extends "base.html" %}
{% block title %} {{ flatpage.title }} {% endblock %}
{% load static %}
{% block static %}
    <link rel="stylesheet" href="{% static "/pages/single.css" %}">
{% endblock %}
{% block content %}
    {% include "nav.html" %}
    <main class="main container">
        <div class="single-card">
            {% load thumbnail %}
            <img src="/static/images/author_photo.jpg" alt="author_photo"
                 class="single-card__image"></a>
            <div class="single-card__info">
                <div class="single-card__header-info">
                    <h1 class="single-card__title">Hi there!</h1>
                </div>
                <div class="single-card__items single-card__items_column">
                    <p class="single-card__text"><span
                            class="icon-time"></span> > 90 hours </p>
                    <ul class="single-card__items">
                        <li class="single-card__item"><p
                                class="single-card__text"><span
                                class="icon-user"></span> Irina Olifirova</p>
                        </li>
                    </ul>
                </div>

                <div class="single-card__section">
                    <h3 class="single-card__section-title">{{ flatpage.title }}</h3>
                    {#                    Это подходит! пока оставлю=)#}
                    <p class=" single-card__section-text">Смешать молоко с
                        сахаром, добавить яйца, тщательно все взбить.
                        Обмакнуть тосты в смесь и жарить на сливочном масле до
                        золотистой корочки.</p>
                    <p class=" single-card__section-text">Полить сверху сиропом
                        топинамбура и украсить ягодами.</p>

                </div>
                <div class="single-card__section">
                    <h3 class="single-card__section-title">No one were harmed
                        in the making of this project, except:</h3>
                    <div class="single-card__items single-card__items_column">
                        <p class=" single-card__section-item">Chocolate - 5,5
                            bars</p>
                        <p class=" single-card__section-item">Coffee - 12
                            cups</p>
                        <p class=" single-card__section-item">Keyboard - 1
                            item</p>

                    </div>
                </div>
                <p class=" single-card__section-text">... 6 Chocolate bars</p>


            </div>
        </div>
    </main>

{% endblock %}
